
//Theme 1//////////////////////////////////////

//Backgrounds
$AmainBG: hsl(222, 26%, 31%);
$AKBG-TB: hsl(223, 31%, 20%);
$ASBG: hsl(224, 36%, 15%);
//Keys
$AKBG: hsl(225, 21%, 49%);
$AKS: hsl(224, 28%, 35%);
$ARKBG: hsl(6, 63%, 50%);
$ARKS: hsl(6, 70%, 34S);
$AOKBG: hsl(30, 25%, 89%);
$AOS: hsl(28, 16%, 65%);
//Text
$ATextBlue: hsl(221, 14%, 31%);
$ATextWhite:hsl(0, 0%, 100%);
//Theme 2//////////////////////////////////////////
//Backgrounds
$BmainBG: hsl(0, 0%, 90%);
$BKBG-TB: hsl(0, 5%, 81%);
$BSBG: hsl(0, 0%, 93%);
//Keys
$BKBG: hsl(185, 42%, 37%);
$BKS: hsl(185, 58%, 25%);
$BRKBG: hsl(25, 98%, 40%);
$BRKS: hsl(25, 99%, 27%);
$BOKBG: hsl(45, 7%, 89%);
$BOS: hsl(35, 11%, 61%);
//Text
$BTextYellow: hsl(60, 10%, 19%);
$BTextWhite: hsl(0, 0%, 100%);
//Theme 3////////////////////////////////////
//Backgrounds
$CmainBG: hsl(268, 75%, 9%);
$CKBG-TB: hsl(268, 71%, 12%);

//Keys

$CKBG: hsl(281, 89%, 26%);
$CKS: hsl(285, 91%, 52%);
$CRKBG: hsl(176, 100%, 44%);
$CRKS: hsl(177, 92%, 70%);
$COKBG: hsl(268, 47%, 21%);
$COS: hsl(290, 70%, 36%);


//Text

$CtextYellow: hsl(52, 100%, 62%);
$CtextDark: hsl(198, 20%, 13%);
$CtextWhite: hsl(0, 0%, 100%);

