
$AmainBackground: hsl(222, 26%, 31%);
$AswitcherKeypadBackground: hsl(223, 31%, 20%);
$AscreenBackGround: hsl(224, 36%, 15%);

$AkeyBackGround: hsl(225, 21%, 49%);
$AkeyShadow: hsl(224, 28%, 35%);

$AredKeyBackgroundSwitcher: hsl(6, 63%, 50%);
$AredShadow: hsl(6, 70%, 34%);

$AorangeKeyBackground: hsl(30, 25%, 89%);
$AorangeKeyShadow: hsl(28, 16%, 65%);



$AtextBlue: hsl(221, 14%, 31%);
$AtextWhite: hsl(0, 0%, 100%);



$BmainBackground: hsl(0, 0%, 90%);
$BswitcherKeypadBackground: hsl(0, 5%, 81%);
$BscreenBackGround: hsl(0, 0%, 93%);

$BkeyBackGround: hsl(185, 42%, 37%);
$BkeyShadow: hsl(185, 58%, 25%);

$BorangeKeyBackgroundSwitcher: hsl(25, 98%, 40%);
$BorangeKeyShadow: hsl(25, 99%, 27%);

$BorangeKeyBackground: hsl(45, 7%, 89%);
$ByellowKeyShadow: hsl(35, 11%, 61%);


$BtextWhite: hsl(0, 0%, 100%);
$BtextYellow: hsl(60, 10%, 19%);



$CmainBackground: hsl(268, 75%, 9%);
$CswitcherKeypadBackgroundScreen: hsl(268, 71%, 12%);


$CkeyBackGround: hsl(281, 89%, 26%);
$CkeyShadow: hsl(285, 91%, 52%);

$CcyanKeyBackgroundSwitcher: hsl(176, 100%, 44%);
$CcyanKeyShadow: hsl(177, 92%, 70%);

$CvioletKeyBackground: hsl(268, 47%, 21%);
$CmagentaKeyShadow: hsl(290, 70%, 36%);



$CtextYellow: hsl(52, 100%, 62%);
$CtextBlue: hsl(198, 20%, 13%);
$CtextWhite: hsl(0, 0%, 100%);

