body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uno {
  background-color: hsl(222deg, 26%, 31%);
}

.dos {
  background-color: hsl(0deg, 0%, 90%);
}

.tres {
  background-color: hsl(268deg, 75%, 9%);
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.upperContainer {
  display: flex;
  flex-direction: column;
  height: 22vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.upperContainer .themeContainer {
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
}
.upperContainer .themeContainer .uno {
  color: hsl(0deg, 0%, 100%);
}
.upperContainer .themeContainer .dos {
  color: hsl(60deg, 10%, 19%);
}
.upperContainer .themeContainer .tres {
  color: hsl(52deg, 100%, 62%);
}
.upperContainer .themeContainer .title {
  height: 100%;
  width: 50%;
  padding-top: 15px;
}
.upperContainer .themeContainer .switchContainer {
  width: 50%;
  height: 100%;
  justify-content: space-between;
}
.upperContainer .themeContainer .switchContainer #mainSwitcher {
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .numbers {
  align-items: center;
  width: 70%;
  height: 50%;
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .numbers .selector {
  text-align: center;
  height: 100%;
  width: 33%;
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .uno {
  color: hsl(0deg, 0%, 100%);
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .dos {
  color: hsl(60deg, 10%, 19%);
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .tres {
  color: hsl(52deg, 100%, 62%);
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .switcher {
  border: 1px solid red;
  justify-content: space-evenly;
  width: 70%;
  height: 50%;
  background-color: white;
  border-radius: 100px;
  border-radius: 100px;
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .switcher .uno {
  background-color: hsl(223deg, 31%, 20%);
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .switcher .dos {
  background-color: hsl(0deg, 5%, 81%);
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .switcher .tres {
  background-color: hsl(268deg, 71%, 12%);
}
.upperContainer .themeContainer .switchContainer #mainSwitcher .switcher div {
  color: transparent;
  height: 100%;
  width: 33%;
}

.displayContainer {
  height: 14vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}
.displayContainer .uno {
  background-color: hsl(224deg, 36%, 15%);
  font-size: 3rem;
  padding-right: 8%;
}
.displayContainer .dos {
  background-color: hsl(0deg, 0%, 93%);
  font-size: 3rem;
  padding-right: 8%;
}
.displayContainer .tres {
  background-color: hsl(268deg, 71%, 12%);
  font-size: 3rem;
  padding-right: 8%;
}

body .keypad {
  box-sizing: border-box;
  border: 1px solid red;
  display: grid;
  height: 70vh;
  width: 85%;
  margin: 5% auto;
  margin-left: auto;
  margin-right: auto;
  padding: 6%;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: repeat(5, 14%);
  gap: 5%;
  border-radius: 15px;
}
body .keypad .uno {
  background-color: hsl(223deg, 31%, 20%);
}
body .keypad .dos {
  background-color: hsl(0deg, 5%, 81%);
}
body .keypad .tres {
  background-color: hsl(268deg, 71%, 12%);
}

.btnFont {
  font-weight: 700;
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
}

.container__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
}

.container__btn_large {
  grid-column: 1/3;
}

.container__btn:last-child {
  grid-column: 3/5;
}

.container__btn {
  color: hsl(0deg, 0%, 100%);
}
.container__btn .uno {
  box-shadow: 0px 5px hsl(224deg, 28%, 35%);
  background-color: hsl(225deg, 21%, 49%);
}
.container__btn .dos {
  box-shadow: 0px 5px hsl(185deg, 58%, 25%);
}
.container__btn .tres {
  box-shadow: 0px 5px hsl(285deg, 91%, 52%);
}

.selector:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
