@use "_colors";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: colors.$AAVeryDarkDesaturatedBlue ;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}


.upperContainer {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 22vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
    .themeContainer {
        border: 1px solid yellow;
        height: 10vh;
        align-items: center;
        justify-content: space-between;
        padding-left: 5%;
        color: colors.$FontWhite;

        .title {
            height: 100%;
            padding-top: 15px;
            border: 1px solid forestgreen;

        }


        .switchContainer {
            width: 50% ;
            height: 100%;
            border: 3px solid pink;
            justify-content: space-between;
        
            h3 {
                width: 50%;
                border: 1px solid red;
            }
        
            #mainSwitcher{
                width: 50%;
                border: 1px solid wheat;
                justify-content: space-evenly;
                align-items: center;
                .numbers {
                    justify-content: space-between;
                    width: 60%;
                    height: 50%;
                    border: 1px solid red;
                }

                .switcher {
                    justify-content: space-between;
                    width: 70%;
                    height: 50%;
                    background-color: white;
                    border-radius: 7px;

                    p {
                        color: black;
                        height: 5%;
                        border-radius: 100px;
                        background-color: red;

                    }
                }

            }
        
        
        
        }












    }
    
    .displayContainer {
        height: 14vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-radius: 10px;
        background-color: colors.$ACVeryDarkDesaturatedBlue;
    h2 {
        font-size: 3rem;
        padding-right: 8%;
        color: colors.$FontWhite;
    }
}
}

.keypad {
    box-sizing: border-box;
    display: grid;
    height: 70vh;
    width: 85%;
    margin: 5% auto;
    margin-left: auto;
    margin-right: auto;
    padding: 6%;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: repeat(5, 14%);
    gap: 5%;
    background-color: colors.$ABVeryDarkDesaturatedBlue;
    border-radius: 15px;
}

.btnFont {
    font-weight: 700;
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
    color: colors.$FontVerydarkgrayishblue;
    
}

.container__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: colors.$Lightgrayishorange;
    box-shadow: 0px 5px colors.$Grayishorange;
    
}

.container__btn_large {
    background-color: colors.$ADDesaturatedDarkBlue;
    box-shadow: 0px 5px colors.$AEDesaturateddarkblue;
    grid-column: 1 / 3  ; 
    color: colors.$FontWhite;    
}

.container__btn:last-child {
    grid-column: 3 / 5  ; 
    background-color: colors.$Red;
    box-shadow: 0px 5px colors.$DarkRed;
    color: colors.$FontWhite;    
}

#delBtn {
    background-color: colors.$ADDesaturatedDarkBlue;
    box-shadow: 0px 5px colors.$AEDesaturateddarkblue;
    color: colors.$FontWhite;    
}

